.mainPage{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0 4px 15px rgba(49, 60, 72, 0.05);
}
.link{
    text-decoration: none;
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    margin: 10px;
}

.main{

}

.footer{
    position: absolute;
    bottom: 0;
}